* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #cec7c7;
}

.header {
  width: 100%;
  background-color: rgb(25, 24, 24);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  padding: 0 20px;
}

.header h1 {
  margin-right: auto;
  padding: 20px;
  color: #fff;
}

.nav_btn {
  width: 75px;
  height: 35px;
  background-color: #8a8000;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

ul {
  display: flex;
}

ul li {
  margin: auto;
  list-style-type: none;
  font-size: 1.5rem;
  margin-left: 5px;
}

ul li a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: rgb(146, 106, 32);
}

.main {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 15px;
}

.main img {
  width: 900px;
  height: 500px;
  border-radius: 10%;
}

.main h1 {
  text-align: center;
  margin-bottom: 10px;
}

.button {
  background-color: aqua;
  width: 70px;
  height: 30px;
  cursor: pointer;
  border-radius: 15%;
}

.main-content1 h2,
p {
  text-align: center;
}

.main-content2 h2,
p {
  text-align: center;
}

.text-content {
  font-size: 2rem;
}

.text-content2 {
  font-size: 1.25rem;
}

/* BuyComponent css*/
.main-data {
  border: 3px solid rgb(197, 172, 172);
}

.title-data {
  text-align: center;
  margin-top: 10px;
  font-size: 2rem;
}

.text-data {
  font-size: 1.2rem;
  margin-top: 5px;
}

div.img {
  display: flex;
  justify-content: center;
}

.my-data {
  display: flex;
  flex-direction: column;
}

.nav_btn1 {
  background-color: rgb(38, 38, 212);
  width: 90px;
  height: 35px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin: auto;
  margin-top: 10px;
}

.nav_btn1:hover {
  background-color: aqua;
}

/* PayComponent CSS */
.form {
  text-align: center;
}

.form,
input,
label {
  font-size: 1.25rem;
  margin: 5px;
}

input {
  background-color: #fff;
}
